*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter',sans-serif;
    background-color: #0000;
    color: #fff;
}


/* ================ CONTAINER FOR HEADER ===============*/

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-image: url('../assets/images/header/headerbackround.avif');
    background-size: cover;
    background-position: center top;
    background-position: 65% top;
}

/* =================== NAV PANEL ================= */

.hero-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    z-index: 10;
}


/* ================= NAV LINKS =====================*/

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;

}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.nav-links a:hover{
    opacity: 1;
}

/* =========== HEADER CONTENT */


.hero-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 50px;
    position: relative
    ;
}
.text-left, .text-right{
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    z-index: 5;
}

.text-left{
    grid-column: 1;
    font-size: 18px;


}

.text-right{
    grid-column: 3;
    max-width: 320px;
}

.hero-title{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 95%;
    margin: 0;

    font-size: 10vw;
    font-weight: 900;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1;

    background-image: url('../assets/images/header/pulse-title-background.jpg');
    background-size: cover;
    background-position: center;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 2;
    
}

/* =================== SECTION ABOUT ====================== */
.about-section{
    position: relative;
    background-color: #fff;
    color: #000;
    padding: 80px 50px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.grid-lines{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    padding: 0px 50px;
    box-sizing: border-box;
}

.grid-lines span{
    width: 1px;
    background-color: #e5e5e5;;
    height: 100%;
}

.about-badge{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.badge-icon{
    color: #ff0000;
}

.about-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
    position: relative;
    z-index: 2;
}

.about-title{
    grid-column: 2;
    font-size: 3.5vw;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -1px;
    text-transform: uppercase;

}

.about-title .dash{
    color: #ff0000;
}

.about-title .highlight-text{
    color: #3bc4cf;
}

.pic-left{
    grid-column: 1;
    position: relative;
    margin-top: 50px;
    
}

.pic-left img{
    width: 90%;
    height: auto;
    object-fit: cover;

}

.plus-icon{
    position: absolute;
    top: -20px;
    left: 0;
    color: #ff0000;
    font-size: 20px;
}

.pic-right{
    grid-column: 3;
    
}

.pic-right img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.about-desc{
    grid-column: 2;
    max-width: 500px;
    margin-top: 20px;
}

.about-desc p{
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}

.founder-info{
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 40px;

}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.founder-text h3{
    font-size: 14px;
    font-weight: 700;
}

.founder-text p{
    font-size: 12px;
    color: #888;
}

.btn-learn{
    grid-column: 3;
    justify-self: end;
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    background-color: #ff1e38;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-learn span:first-child{
    padding: 15px 25px;
}

.btn-arrow{
    background-color: #000;
    padding: 15px;
    font-size: 16px;
}